/target
Cargo.lock
/.vscode

*.swp
.idea

# Example persisted files.
*.db
*.sqlite*

# Log files
*.log

# Descriptor files
*.desc

# Ignore media (should go into media branch)
*.gif

# Ignore cargo-mutants generated output
/mutants.out*
